<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'flat notes' in resource group 'FlatNotesGroup' -->
  <InstrumentationKey>5efa69fe-0848-4058-807c-a0d09c61c679</InstrumentationKey>
</ApplicationInsights>