<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Flat Notes' in resource group 'FlatNotesGroup' -->
  <!-- This key is for Application Insights resource 'FlatNotes.WindowsPhone81' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>f45cb387-f226-4717-a4b8-d1280fec07f2</InstrumentationKey>
</ApplicationInsights>