<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="29428BrunoLemos.KeepBeta" Publisher="CN=0B66D0B0-F691-4768-B3EE-FC3873EB0D73" Version="2.0.0.0" />
  <Properties>
    <DisplayName>Flat Notes Beta</DisplayName>
    <PublisherDisplayName>Bruno Lemos</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Keep.Windows.App">
      <m2:VisualElements DisplayName="Flat Notes Beta" Square150x150Logo="Assets\Tiles\Solid\Logo.png" Square30x30Logo="Assets\Tiles\Solid\Square30x30Logo.png" Description="Flat Notes is the most beautiful universal notes app for Windows and Windows Phone." ForegroundText="dark" BackgroundColor="#ffbb00" ToastCapable="false">
        <m2:DefaultTile DefaultSize="wide310x150Logo" Square310x310Logo="Assets\Tiles\Solid\Square310x310Logo.png" Wide310x150Logo="Assets\Tiles\Solid\WideLogo.png" Square70x70Logo="Assets\Tiles\Solid\Square70x70Logo.png" ShortName="Flat Notes">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreenHorizontal.png" BackgroundColor="#ffbb00" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>