<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="fc74ece0-15b9-44e0-9a58-35e67faf264c" Publisher="CN=Bruno Lemos" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Keep.Windows</DisplayName>
    <PublisherDisplayName>Bruno Lemos</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Keep.Windows.App">
      <m2:VisualElements DisplayName="Keep.Windows" Square150x150Logo="Assets\Square150x150Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Keep.Windows" ForegroundText="light" BackgroundColor="#EEEEEE">
        <m2:DefaultTile ShortName="Keep Notes" Wide310x150Logo="Assets\WideLogo.png" Square70x70Logo="Assets\Square70x70Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFCD35" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>